<div class="container">
    <div class="row m-1">
        <h4 class="col-auto">Books list</h4>
    </div>
    <div class="row mt-1 border-bottom border-secondary">
        <div class="text-center col-3 Properties">
            <h6>Title</h6>
        </div>
        <div class="text-center col-3 Properties">
            <h6>Authors</h6>
        </div>
        <div class="text-center col-3 Properties">
            <h6>Date release</h6>
        </div>
    </div>
    <div class="text-center" [hidden]="!BooksEmpty">
        <h4>No books to display</h4>
    </div>
    <app-book-rent-element *ngFor="let book of BooksCollection" [ThisBook]="book"> </app-book-rent-element>
</div>