<div class="row border-bottom m-1">
    <div class="col-3 text-center">
        <h6>{{ThisBook.title}}</h6>
    </div>
    <div class="col-3 text-center">
        <h6>{{BAuthors}}</h6>
    </div>
    <div class="col-3 text-center">
        <h6>{{ThisBook.releaseDate}}</h6>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-dark" (click)="RentButtonClick()" [hidden]="Owner">Rent</button>
        <button class="btn btn-dark" (click)="ReturnButtonClick()" [hidden]="!Owner">Return</button>
    </div>
</div>