<div class="container min-vh-100">
    <div class="row">
        <h4 class="col-auto">Add user:</h4>
        <button class="btn btn-primary ml-1" (click)="BackButtonClick()">
            <i class="fas fa-long-arrow-alt-left"></i> Back
        </button>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-group">
                <label>user name:</label>
                <input type="text" class="form-control" [(ngModel)]="NewUser.username" name="username" />
                <label>email:</label>
                <input type="email" class="form-control" [(ngModel)]="NewUser.email" name="email" />
                <label>password: </label>
                <div class="alert alert-info" role="alert">
                    {{randomstring}}
                </div>
            </div>
            <div class="text-center ">
                <button class="btn btn-primary" (click)="AddBookButtonClick()">Enter <i class="far"></i></button>
            </div>
        </div>
    </div>
</div>