<div class="container min-vh-100">
    <div class="row">
        <h4 class="col-auto">Add Author</h4>
        <button class="btn btn-primary ml-1" (click)="BackButtonClick()"> <i class="fas fa-long-arrow-alt-left"></i> Back</button>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-group">
                <label>Author's full name:</label>
                <input type="text" class="form-control" [(ngModel)]="NewAuthor.fullName" name="name" />                
            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="AddAuthorButtonClick()">Add Author <i class="far fa-plus-square"></i></button>
            </div>


        </div>
    </div>

</div>