<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Home</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="books" class="nav-link">Books</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="admin/books" class="nav-link">Admin do ukrycia</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="admin/authors" class="nav-link" [hidden]="!isAdmin">Author</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/users" class="nav-link" [hidden]="!isAdmin">User</a>
      </li>
    </div>
    <div class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="register" class="nav-link" [hidden]="isLogin">Register</a>
      </li>
      <li class="nav-item" [hidden]="log">
        <button class="btn btn-info" (click)="Logout()">
          Log in/out
        </button>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
  <footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center py-3">
      © 2020:
      <a> Projekt programowanie hybrydowe </a>
    </div>
  </footer>
</div>