<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Home</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="books" class="nav-link">Ksiazki</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/books" class="nav-link">Admin do ukrycia</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/authors" class="nav-link">Autorzy dla admina</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin/users" class="nav-link">Userzy dla admina</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
  <footer>
   Futerek trzeba go tylko ustawic
    </footer>
</div>
