<div class="container min-vh-100">
    <div class="row">
        <h4 class="col-auto">Edit Author</h4>
        <button class="btn btn-primary ml-1" (click)="BackButtonClick()"> <i class="fas fa-long-arrow-alt-left"></i>
            Back</button>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-group">
                <label>Author's full name:</label>
                <input type="text" class="form-control" [(ngModel)]="ThisAuthor.fullName" name="name" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="UpdateAuthorButtonClick()">Update author <i
                        class="far fa-plus-square"></i></button>
            </div>

            <div class="container">
                <div class="row m-1">
                    <h4 class="col-auto">Books list</h4>
                </div>
                <div class="row mt-1 border-bottom border-secondary">
                    <div class="text-center col-3 Properties">
                        <h6>Title</h6>
                    </div>
                    <div class="text-center col-3 Properties">
                        <h6>Date release</h6>
                    </div>
                </div>
                <div class="text-center" [hidden]="!BooksEmpty">
                    <h4>No books to display</h4>
                </div>
                <div [hidden]="BooksEmpty" *ngFor="let book of OriginalAuthor.Books" class="row border-bottom ">
                    <div class="col-3 text-center">
                        <h6>{{book.title}}</h6>
                    </div>
                    <div class="col-3 text-center">
                        <h6>{{book.releaseDate}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>