<div class="row border-bottom m-1">
    <div class="col-3 text-center">
        <h6>{{ThisUser.username}}</h6>
    </div>
    <div class="col-3 text-center">
        <h6>{{ThisUser.email}}</h6>
    </div>
    <div class="col-3 text-center">
        <h6>{{Quantity}}</h6>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-dark" (click)="DetailsButtonClick()">Details/Edit</button>
        <button class="btn btn-danger ml-1" (click)="DeleteButtonClick()">Delete</button>
    </div>

</div>